@import url("https://fonts.cdnfonts.com/css/d-din");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field--type-file summary {
  display: none;
}

a {
  text-decoration: underline;
  color: #454ca0;
  transition: ease all 0.2s;
}
a:hover {
  text-decoration: none;
}

img {
  display: block;
  height: 100%;
  max-width: 100%;
}

p {
  margin: 0 0 16px;
  line-height: 1.3;
}

.container {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
}

nav ul,
nav ol {
  list-style: none;
}
nav ul li a,
nav ol li a {
  text-decoration: none;
}
nav ul li a:hover,
nav ol li a:hover {
  text-decoration: underline;
}

.field-button a {
  display: inline-block;
  color: #454ca0;
  border: 1px solid #1b1b1b;
  padding: 8px 32px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  margin: 8px 0;
  font-size: 14px;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .field-button a {
    font-size: 16px;
  }
}
.field-button a:hover {
  background-color: #1b1b1b;
  color: white;
}

.button,
button {
  display: inline-block;
  color: #454ca0;
  border: 1px solid #1b1b1b;
  padding: 8px 32px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  margin: 8px 0;
  font-size: 14px;
  cursor: pointer;
  height: auto;
}
@media only screen and (min-width: 1024px) {
  .button,
  button {
    font-size: 16px;
  }
}
.button:hover,
button:hover {
  background-color: #1b1b1b;
  color: white;
}

.purple {
  color: #454ca0;
  font-weight: 400;
}

.links {
  list-style: none;
  padding: 0;
}
.links li a {
  display: inline-block;
  color: #454ca0;
  border: 1px solid #1b1b1b;
  padding: 8px 32px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  margin: 8px 0;
  font-size: 14px;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .links li a {
    font-size: 16px;
  }
}
.links li a:hover {
  background-color: #1b1b1b;
  color: white;
}

.flex {
  padding: 16px 0;
}
.flex header {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
  padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .flex header {
    padding: 0 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .flex header {
    padding: 0 64px;
  }
}
.flex .views-rows__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .flex .views-rows__container {
    padding: 0 24px;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .flex .views-rows__container {
    gap: 24px;
    max-width: 94%;
    margin: 0 auto;
    padding: 0 16px;
    padding: 0 64px;
  }
}
.flex .views-rows__container > div {
  flex: 0 0 49%;
}
@media only screen and (min-width: 768px) {
  .flex .views-rows__container > div {
    flex: 0 0 31%;
  }
}

input[type=file]::file-selector-button {
  display: inline-block;
  color: #454ca0;
  border: 1px solid #1b1b1b;
  padding: 8px 32px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  margin: 8px 0;
  font-size: 14px;
  cursor: pointer;
  padding: 8px;
  border-color: #454ca0;
  font-weight: 400;
  font-size: unset;
  margin-right: 4px;
}
@media only screen and (min-width: 1024px) {
  input[type=file]::file-selector-button {
    font-size: 16px;
  }
}
input[type=file]::file-selector-button:hover {
  background-color: #1b1b1b;
  color: white;
}

.feed-icon {
  display: none;
}

.form-no-label {
  padding: 0 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "D-DIN", sans-serif;
  font-weight: bold;
  color: #0f0f0f;
}

h1 {
  font-size: 36px;
  margin: 32px 0 32px;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 28px;
  margin: 16px 0 16px;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 24px;
  margin: 16px 0 16px;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 22px;
  margin: 16px 0 16px;
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1024px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-size: 20px;
  margin: 8px 0 16px;
}
@media only screen and (min-width: 768px) {
  h5 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  h5 {
    font-size: 22px;
  }
}

h6 {
  font-size: 16px;
  margin: 16px 0 16px;
}
@media only screen and (min-width: 768px) {
  h6 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  h6 {
    font-size: 20px;
  }
}

input,
textarea {
  height: 46px;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  width: 100%;
}

textarea {
  height: 200px;
  width: 100%;
}

label {
  display: block;
  font-weight: 300;
  margin: 8px 0;
}
label::after {
  content: ":";
}

.form-item {
  margin-bottom: 8px;
}

.form-required::after {
  content: "*:";
}

.form-file {
  border: none;
  padding: 0;
  height: auto;
}

.description {
  font-size: 12px;
}

#block-ispace-page-title h1 {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
  margin-bottom: 32px;
}

#block-ispace-views-block-basic-page-banner-block-1 .field-media-image img {
  margin: 0 auto;
}
@media only screen and (min-width: 2560px) {
  #block-ispace-views-block-basic-page-banner-block-1 .field-media-image img {
    width: 100%;
    height: auto;
  }
}

.block-cheeseburgermenu-container {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.cheeseburger-menu__side-trigger {
  margin-bottom: 0 !important;
  min-height: 50px;
  border-bottom: 0;
}
.cheeseburger-menu__side-trigger svg {
  height: 40px;
  width: 40px;
  margin: 0 0 0 auto;
}
.cheeseburger-menu__mainmenu {
  padding: 0 48px !important;
}
.cheeseburger-menu__mainmenu li {
  border-bottom: 1px solid white;
  padding: 0;
}
.cheeseburger-menu__mainmenu li a {
  color: white;
  font-weight: 600;
}

.cheeseburger-parent .cheeseburger-menu__item-label {
  padding-left: 0 !important;
  font-weight: bold;
}

.search-block-form,
.search-form {
  position: relative;
}
.search-block-form .form-item-keys,
.search-form .form-item-keys {
  padding: 0;
  width: 200px;
  margin: 0;
}
.search-block-form .form-item-keys input,
.search-form .form-item-keys input {
  border-width: 1px;
  height: 40px;
  margin: 0;
}
@media only screen and (min-width: 1024px) {
  .search-block-form #edit-actions,
  .search-form #edit-actions {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.search-block-form .button,
.search-form .button {
  border: none;
  text-indent: -999px;
  overflow: hidden;
  background-color: transparent;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  margin: 0;
  padding: 10px 0 10px 24px;
  width: 24px;
  height: 42px;
}
@media only screen and (min-width: 1024px) {
  .search-block-form .button,
  .search-form .button {
    padding: 10px 24px;
    width: 48px;
  }
}

.search-block-form .form-item-keys {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .search-block-form .form-item-keys {
    display: inline-block;
  }
}

.search-form #edit-basic {
  display: flex;
  align-items: flex-end;
}

.search-help-link,
.search-advanced {
  display: none;
}

.path-search #block-ispace-content {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
}

.paragraph {
  opacity: 0;
  transition: 0.4s ease;
  transform: scale(0.97);
}
.paragraph.inView {
  opacity: 1;
  transform: scale(1);
}

.paragraph-rows__container {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
  padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .paragraph-rows__container {
    padding: 0 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .paragraph-rows__container {
    padding: 0 64px;
  }
}
.paragraph-rows__container > div {
  display: grid;
}
.paragraph-rows__container > .field-title {
  margin-bottom: 16px;
  font-size: 24px;
  display: block;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .paragraph-rows__container > .field-title {
    font-size: 32px;
  }
}

[data-paragraph-margins=S] {
  margin: 6px 0;
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-margins=S] {
    margin: 24px 0;
  }
}

[data-paragraph-margins=M] {
  margin: 16px 0;
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-margins=M] {
    margin: 40px 0;
  }
}

[data-paragraph-margins=L] {
  margin: 24px 0;
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-margins=L] {
    margin: 56px 0;
  }
}

[data-paragraph-full-width=On] .paragraph-rows__container {
  max-width: 1600px;
  padding: 0;
}

@media only screen and (min-width: 1024px) {
  [data-paragraph-divider=On] .paragraph-rows__container > .field-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 24px;
  }
}

[data-paragraph-narrow=On] .paragraph-text__container,
[data-paragraph-narrow=On] .paragraph-rows__container {
  max-width: 80%;
}

[data-paragraph-mobile-rows=On] .paragraph-rows__container > div {
  gap: 6px;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (min-width: 576px) {
  [data-paragraph-mobile-rows=On] .paragraph-rows__container > div {
    grid-template-columns: 1fr 1fr;
  }
}

[data-paragraph-rows=two] .paragraph-rows__container > div {
  gap: 6px;
}
@media only screen and (min-width: 576px) {
  [data-paragraph-rows=two] .paragraph-rows__container > div {
    grid-template-columns: 1fr 1fr;
  }
}

[data-paragraph-rows=three] .paragraph-rows__container > div {
  gap: 8px;
}
@media only screen and (min-width: 576px) {
  [data-paragraph-rows=three] .paragraph-rows__container > div {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-rows=three] .paragraph-rows__container > div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

[data-paragraph-rows=four] .paragraph-rows__container > div {
  gap: 8px;
}
@media only screen and (min-width: 576px) {
  [data-paragraph-rows=four] .paragraph-rows__container > div {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-rows=four] .paragraph-rows__container > div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

[data-paragraph-space=s] .paragraph-rows__container > div {
  gap: 6px;
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-space=s] .paragraph-rows__container > div {
    gap: 24px;
  }
}

[data-paragraph-space=m] .paragraph-rows__container > div {
  gap: 16px;
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-space=m] .paragraph-rows__container > div {
    gap: 40px;
  }
}

[data-paragraph-space=l] .paragraph-rows__container > div {
  gap: 24px;
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-space=l] .paragraph-rows__container > div {
    gap: 56px;
  }
}

.paragraph-card-with-overlay {
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  .paragraph-card-with-overlay:hover .paragraph-card-with-overlay__overlay-container {
    opacity: 1;
  }
}
.paragraph-card-with-overlay__overlay {
  background-color: rgba(255, 255, 255, 0.67);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  height: auto;
  color: #1b1b1b;
  text-decoration: none;
}
@media only screen and (min-width: 1024px) {
  .paragraph-card-with-overlay__overlay {
    transition: 0.4s ease;
    top: 0;
    bottom: unset;
    height: auto;
  }
}
.paragraph-card-with-overlay__overlay-container {
  padding: 10px;
  max-width: 400px !important;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .paragraph-card-with-overlay__overlay-container {
    opacity: 0;
    padding: 24px 96px;
  }
}
.paragraph-card-with-overlay__overlay-container h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}
@media only screen and (min-width: 1024px) {
  .paragraph-card-with-overlay__overlay-container h4 {
    opacity: 0;
    transition: ease-out 0.2s;
    transform: translateY(30px);
  }
}
@media only screen and (min-width: 576px) {
  .paragraph-card-with-overlay__overlay-container h4 {
    font-size: 24px;
    font-weight: 700;
  }
}
.paragraph-card-with-overlay__overlay-container h4 .field-title {
  display: inline-block;
  margin: 0 auto;
  padding: 8px 0;
  border-bottom: 2px solid #1b1b1b;
}
@media only screen and (min-width: 576px) {
  .paragraph-card-with-overlay__overlay-container h4 .field-title {
    padding: 16px 0;
  }
}
.paragraph-card-with-overlay__overlay-container .field-subtitle {
  font-weight: 600;
  margin: 16px 0;
  display: none;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .paragraph-card-with-overlay__overlay-container .field-subtitle {
    opacity: 0;
    transition: ease-out 0.2s;
    transform: translateY(30px);
  }
}
@media only screen and (min-width: 1024px) {
  .paragraph-card-with-overlay__overlay-container .field-subtitle {
    display: block;
  }
}
.paragraph-card-with-overlay__overlay-container .field-button {
  font-size: 12px;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .paragraph-card-with-overlay__overlay-container .field-button {
    opacity: 0;
    transition: ease-out 0.2s;
    transform: translateY(30px);
  }
}
@media only screen and (min-width: 576px) {
  .paragraph-card-with-overlay__overlay-container .field-button {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  .paragraph-card-with-overlay__overlay-container .field-button {
    margin: 16px 0;
    display: block;
  }
}
.paragraph-card-with-overlay__overlay-container .field-button span {
  display: inline-block;
  color: #454ca0;
  border: 1px solid #1b1b1b;
  padding: 8px 32px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  margin: 8px 0;
  font-size: 14px;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .paragraph-card-with-overlay__overlay-container .field-button span {
    font-size: 16px;
  }
}
.paragraph-card-with-overlay__overlay-container .field-button span:hover {
  background-color: #1b1b1b;
  color: white;
}
.paragraph-card-with-overlay .field-media-image img {
  margin: 0 auto;
}
@media only screen and (min-width: 2260px) {
  .paragraph-card-with-overlay .field-media-image img {
    width: 100%;
    height: auto;
  }
}

.slide-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.paragraph-card-with-icon__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
@media only screen and (min-width: 1024px) {
  .paragraph-card-with-icon__container {
    flex-direction: row;
    gap: 24px;
    justify-content: flex-start;
  }
}
.paragraph-card-with-icon__container .field-icon {
  flex: 0 0 150px;
}
.paragraph-card-with-icon__container .field-text {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .paragraph-card-with-icon__container .field-text {
    text-align: initial;
  }
}

[data-paragraph-vertical=On] .paragraph-card-with-icon__container {
  flex-direction: column;
  gap: 0;
}
[data-paragraph-vertical=On] .paragraph-card-with-icon__container .field-icon {
  flex: 0 0 150px;
}

.paragraph-icon-and-text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.paragraph-icon-and-text__container .field-text {
  margin-top: 24px;
}
.paragraph-icon-and-text__container .field-text p {
  margin-bottom: 4px;
}
.paragraph-icon-and-text__container .field-icon img {
  height: 200px;
  width: 200px;
}

.paragraph-left-text-right-image__container {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .paragraph-left-text-right-image__container {
    padding: 0 24px;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .paragraph-left-text-right-image__container {
    padding: 0 64px;
  }
}
.paragraph-left-text-right-image__container .field-text,
.paragraph-left-text-right-image__container .field-media-image {
  flex: 0 0 48%;
}

.paragraph-banner-with-overlay {
  position: relative;
  overflow: hidden;
}
.paragraph-banner-with-overlay [class*=_container] {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
}
@media only screen and (min-width: 1024px) {
  .paragraph-banner-with-overlay:hover .paragraph-banner-with-overlay__overlay {
    bottom: 0;
    height: 50%;
    transform: translateY(0);
  }
  .paragraph-banner-with-overlay:hover .paragraph-banner-with-overlay__overlay-container {
    opacity: 1;
  }
}
.paragraph-banner-with-overlay__overlay {
  background-color: rgba(255, 255, 255, 0.67);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  color: #1b1b1b;
}
.paragraph-banner-with-overlay__overlay:visited {
  color: #1b1b1b;
}
@media only screen and (min-width: 1024px) {
  .paragraph-banner-with-overlay__overlay {
    transition: ease-in-out 0.4s;
    height: 0;
    transform: translateY(0);
    top: 0;
    bottom: unset;
  }
}
.paragraph-banner-with-overlay__overlay-container {
  text-align: left;
  padding: 16px !important;
  max-width: 80%;
}
@media only screen and (min-width: 1024px) {
  .paragraph-banner-with-overlay__overlay-container {
    padding: 24px 96px !important;
    opacity: 0;
  }
}
.paragraph-banner-with-overlay__overlay-container h4 {
  border-bottom: 2px solid #1b1b1b;
  padding: 8px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}
@media only screen and (min-width: 1024px) {
  .paragraph-banner-with-overlay__overlay-container h4 {
    opacity: 0;
    transition: ease-out 0.2s;
    transform: translateY(30px);
  }
}
@media only screen and (min-width: 576px) {
  .paragraph-banner-with-overlay__overlay-container h4 {
    font-size: 24px;
    font-weight: 700;
    padding: 16px 0;
  }
}
.paragraph-banner-with-overlay__overlay-container .field-subtitle {
  font-weight: 600;
  margin: 16px 0;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .paragraph-banner-with-overlay__overlay-container .field-subtitle {
    opacity: 0;
    transition: ease-out 0.2s;
    transform: translateY(30px);
  }
}
@media only screen and (min-width: 1024px) {
  .paragraph-banner-with-overlay__overlay-container .field-subtitle {
    display: block;
  }
}
.paragraph-banner-with-overlay__overlay-container .field-button {
  margin: 16px 0;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .paragraph-banner-with-overlay__overlay-container .field-button {
    opacity: 0;
    transition: ease-out 0.2s;
    transform: translateY(30px);
  }
}
@media only screen and (min-width: 1024px) {
  .paragraph-banner-with-overlay__overlay-container .field-button {
    display: block;
  }
}
.paragraph-banner-with-overlay__overlay-container .field-button span {
  display: inline-block;
  color: #454ca0;
  border: 1px solid #1b1b1b;
  padding: 8px 32px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  margin: 8px 0;
  font-size: 14px;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .paragraph-banner-with-overlay__overlay-container .field-button span {
    font-size: 16px;
  }
}
.paragraph-banner-with-overlay__overlay-container .field-button span:hover {
  background-color: #1b1b1b;
  color: white;
}
.paragraph-banner-with-overlay .field-media-image img {
  margin: 0 auto;
}
@media only screen and (min-width: 2560px) {
  .paragraph-banner-with-overlay .field-media-image img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
  [data-paragraph-position=top] .paragraph-card-with-overlay__overlay {
    transform: translateY(-100%);
    height: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-position=top]:hover .paragraph-card-with-overlay__overlay {
    bottom: 0;
    height: 50%;
    width: 100%;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1024px) {
  [data-paragraph-position=left]:hover .paragraph-card-with-overlay__overlay {
    width: 50%;
    transform: translateX(0);
  }
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-position=left] .paragraph-card-with-overlay__overlay {
    height: 100%;
    transform: translateX(-100%);
  }
}
[data-paragraph-position=left] .paragraph-card-with-overlay__overlay-container {
  padding: 16px;
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-position=left] .paragraph-card-with-overlay__overlay-container {
    padding: 24px 48px;
  }
}

@media only screen and (min-width: 1024px) {
  [data-paragraph-position=right]:hover .paragraph-card-with-overlay__overlay {
    width: 50%;
    transform: translateX(0);
  }
}
[data-paragraph-position=right] .paragraph-card-with-overlay__overlay {
  width: 50%;
  bottom: 0;
  right: 0;
  height: 100%;
  left: auto;
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-position=right] .paragraph-card-with-overlay__overlay {
    width: 0;
    transform: translateX(100%);
  }
}

@media only screen and (min-width: 1024px) {
  [data-paragraph-position=bottom]:hover .paragraph-card-with-overlay__overlay {
    height: 50%;
    transform: translateY(0);
  }
}
[data-paragraph-position=bottom] .paragraph-card-with-overlay__overlay {
  height: 50%;
  right: 0;
  bottom: 0;
  top: auto;
}
@media only screen and (min-width: 1024px) {
  [data-paragraph-position=bottom] .paragraph-card-with-overlay__overlay {
    height: 0;
    transform: translateY(100%);
  }
}

.paragraph-q-a__container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 16px;
}
.paragraph-q-a__container .field-title {
  font-size: 20px;
  font-weight: bold;
  padding: 16px 48px 16px 24px;
  box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .paragraph-q-a__container .field-title {
    font-size: 22px;
    padding: 24px 40px 24px 32px;
  }
}
.paragraph-q-a__container .field-title:after {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: ease 0.4s;
}
@media only screen and (min-width: 1024px) {
  .paragraph-q-a__container .field-title:after {
    right: 24px;
  }
}
.paragraph-q-a__container .field-text {
  height: 0;
  opacity: 0;
  transition: height ease 0.3s;
}
.paragraph-q-a__container .field-text .field-item {
  padding: 16px;
}
@media only screen and (min-width: 1024px) {
  .paragraph-q-a__container .field-text .field-item {
    padding: 24px 72px;
  }
}
.paragraph-q-a.active .field-title::after {
  transform: translateY(-50%) rotate(180deg);
}
.paragraph-q-a.active .field-text {
  height: 100%;
  opacity: 1;
}

.paragraph-text__container {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
  padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .paragraph-text__container {
    padding: 0 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .paragraph-text__container {
    padding: 0 64px;
  }
}

.paragraph-two-column-text__container {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}
@media only screen and (min-width: 768px) {
  .paragraph-two-column-text__container {
    padding: 0 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .paragraph-two-column-text__container {
    padding: 0 64px;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .paragraph-two-column-text__container > div {
    flex: 0 0 49%;
  }
}

.field-paragrpahs .paragraph:first-child {
  margin-top: 0 !important;
}

[data-paragraph-full-width=On] {
  padding: 0;
}
[data-paragraph-full-width=On] [class*=_container] {
  max-width: unset;
  padding: 0;
}
[data-paragraph-full-width=On] [class*=_container] .field-text {
  padding: 0 16px;
}

.paragraph-questions-and-answers__container > .field-title {
  font-size: 32px;
  font-weight: bold;
  padding: 24px 0 8px;
  text-align: center;
}
.paragraph-questions-and-answers__container > .field-subtitle {
  font-size: 20px;
  font-weight: bold;
  padding: 16px 0 8px;
  text-align: center;
}
.paragraph-questions-and-answers__container > .field-question {
  padding-top: 24px;
}

.paragraph-card a {
  text-decoration: none;
  color: #1b1b1b;
}
.paragraph-card a:hover .field-title {
  text-decoration: underline;
}
.paragraph-card[data-paragraph-title-alignment=center] .field-title {
  text-align: center;
}
.paragraph-card[data-paragraph-title-alignment=right] .field-title {
  text-align: right;
}
.paragraph-card[data-paragraph-title-alignment=left] .field-title {
  text-align: left;
}

.footer {
  background-color: black;
  margin-top: 10px;
  position: relative;
}
.footer::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  height: 10px;
  width: 100%;
  background: linear-gradient(90deg, rgb(126, 109, 215) 0%, rgb(159, 109, 218) 49%, rgb(168, 64, 216) 100%);
}
.footer--top {
  border-bottom: 1px solid white;
}
.footer--top-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 0;
}
@media only screen and (min-width: 1024px) {
  .footer--top-container {
    flex-direction: row;
    padding: 16px 64px;
  }
}
@media only screen and (min-width: 1620px) {
  .footer--bottom {
    max-width: 80%;
    margin: 0 auto;
  }
}
.footer--bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#block-ispace-logofooter {
  color: white;
  display: none;
}
@media only screen and (min-width: 1024px) {
  #block-ispace-logofooter {
    display: block;
  }
}
#block-ispace-logofooter > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 32px;
}
@media only screen and (min-width: 1024px) {
  #block-ispace-logofooter > div {
    flex-direction: row;
  }
}
#block-ispace-logofooter h3,
#block-ispace-logofooter h4,
#block-ispace-logofooter h5 {
  color: white;
  margin-bottom: 24px;
}

#block-ispace-footerlinks > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
#block-ispace-footerlinks > ul li a {
  padding: 0 16px;
  text-transform: uppercase;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  display: inline-block;
  font-size: 12px;
}
#block-ispace-footerlinks > ul li:last-child a {
  border: none;
}

@media only screen and (min-width: 1024px) {
  #block-ispace-footer > ul {
    column-count: 2;
  }
}
#block-ispace-footer > ul li {
  padding: 16px 0;
}
#block-ispace-footer > ul li:first-child {
  padding-top: 0;
}
#block-ispace-footer > ul li a {
  font-weight: bold;
  color: white;
  padding: 8px;
  text-decoration: none;
}
#block-ispace-footer > ul li ul li {
  padding: 4px 0;
}
#block-ispace-footer > ul li ul li a {
  font-weight: 400;
}
#block-ispace-footer > ul > li > a {
  padding-bottom: 16px;
  display: block;
}

#block-ispace-info .body {
  color: white;
}
#block-ispace-info .body h3,
#block-ispace-info .body h4,
#block-ispace-info .body h5,
#block-ispace-info .body h6 {
  margin-bottom: 0;
}
#block-ispace-info .body p {
  margin-bottom: 8px;
}
#block-ispace-info .body a {
  color: white;
  text-decoration: none;
}
#block-ispace-info .body a:hover {
  text-decoration: underline;
}

#block-ispace-social1 > ul,
#block-ispace-social2 > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
#block-ispace-social1 > ul li a,
#block-ispace-social2 > ul li a {
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  display: block;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  background-image: url("../images/icons/facebook.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: left center;
  transition: ease 0.2s;
}
#block-ispace-social1 > ul li a:hover,
#block-ispace-social2 > ul li a:hover {
  background-size: 18px;
}
#block-ispace-social1 > ul li a[href*=facebook],
#block-ispace-social2 > ul li a[href*=facebook] {
  background-image: url("../images/icons/facebook.svg");
  background-size: 12px;
}
#block-ispace-social1 > ul li a[href*=facebook]:hover,
#block-ispace-social2 > ul li a[href*=facebook]:hover {
  background-size: 14px;
}
#block-ispace-social1 > ul li a[href*=twitter],
#block-ispace-social2 > ul li a[href*=twitter] {
  background-image: url("../images/icons/twitter.svg");
}
#block-ispace-social1 > ul li a[href*=instagram],
#block-ispace-social2 > ul li a[href*=instagram] {
  background-image: url("../images/icons/instagram.svg");
}
#block-ispace-social1 > ul li a[href*=linkedin],
#block-ispace-social2 > ul li a[href*=linkedin] {
  background-image: url("../images/icons/linkedin.svg");
}

.header {
  background-color: white;
  box-shadow: 0 3px 9px 0px rgba(0, 0, 0, 0.1);
  margin: 0 0 24px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: top 0.3s;
}
@media only screen and (min-width: 1024px) {
  .header {
    margin: 10px 0 48px;
  }
  .header::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    height: 10px;
    width: 100%;
    background: linear-gradient(90deg, rgb(126, 109, 215) 0%, rgb(159, 109, 218) 49%, rgb(168, 64, 216) 100%);
  }
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

#block-ispace-sitebranding img {
  width: 95px;
}
@media only screen and (min-width: 1024px) {
  #block-ispace-sitebranding img {
    width: 145px;
  }
}

#block-ispace-mainnavigation {
  display: none;
}
@media only screen and (min-width: 1024px) {
  #block-ispace-mainnavigation {
    display: block;
  }
}
#block-ispace-mainnavigation > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#block-ispace-mainnavigation > ul li {
  position: relative;
}
#block-ispace-mainnavigation > ul li:hover ul {
  display: block;
}
#block-ispace-mainnavigation > ul li a {
  padding: 16px;
  color: #1b1b1b;
  display: block;
}
#block-ispace-mainnavigation > ul li ul {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  padding: 0 8px;
  width: 240px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}
#block-ispace-mainnavigation > ul li ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#block-ispace-mainnavigation > ul li ul li:last-child {
  border-bottom: 0;
}
#block-ispace-mainnavigation > ul li ul li a {
  padding: 8px;
  font-size: 16px;
}

.user-logged-in #header {
  top: 38px !important;
}
@media only screen and (min-width: 1024px) {
  .user-logged-in #header {
    top: 79px !important;
  }
}

.region-footer_third {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 0;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .region-footer_third {
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
  }
}
.region-footer_first {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .region-footer_first {
    display: block;
  }
}
.region-navigation {
  display: flex;
  align-items: center;
}

.node {
  padding-bottom: 8px;
}
.node .body {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .node .body {
    padding: 0 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .node .body {
    padding: 0 64px;
  }
}
.node[data-node-title-alignment=center] h1 {
  text-align: center;
}
.node[data-node-title-alignment=right] h1 {
  text-align: right;
}
.node[data-node-title-alignment=left] h1 {
  text-align: left;
}
.node h1 {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
  margin: 8px auto 24px;
}
@media only screen and (min-width: 768px) {
  .node h1 {
    margin: 32px auto 32px;
    padding: 0 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .node h1 {
    padding: 0 64px;
  }
}

.node-teaser {
  padding: 0;
}
.node-teaser-title a {
  color: #1b1b1b;
  text-decoration: none;
}
.node-teaser-title a:hover {
  text-decoration: underline;
}
.node-teaser .links a {
  margin-top: 0;
}

.node-page-full h1 {
  margin-top: 32px;
}

.path-frontpage .node-page-full {
  padding-bottom: 0px;
}
.path-frontpage .node-page-full h1 {
  display: none;
}

.view-products {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
  padding: 0 16px 32px;
}
@media only screen and (min-width: 768px) {
  .view-products {
    padding: 0 24px 32px;
  }
}
@media only screen and (min-width: 1024px) {
  .view-products {
    padding: 0 64px 32px;
  }
}
.view-products .views-rows {
  margin-bottom: 32px;
}
.view-products .views-rows__title {
  margin: 16px 0;
}
.view-products .views-rows__title::after {
  content: ":";
}
.view-products .views-rows__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1024px) {
  .view-products .views-rows__container {
    flex-direction: row;
    gap: 16px;
  }
}
.view-products .views-rows__container .views-row {
  flex: 0 0 48%;
}
@media only screen and (min-width: 1024px) {
  .view-products .views-rows__container .views-row {
    flex: 0 0 23%;
  }
}

.node-product-teaser h4 {
  font-size: 18px;
  margin: 8px 0;
}
.node-product-teaser h4 a {
  color: #1b1b1b;
  text-decoration: none;
  text-align: center;
  display: block;
}
.node-product-teaser h4 a:hover {
  text-decoration: underline;
}

.node-product-full[data-node-title-alignment=center] h1 {
  text-align: center;
}
.node-product-full[data-node-title-alignment=right] h1 {
  text-align: right;
}
.node-product-full[data-node-title-alignment=left] h1 {
  text-align: left;
}

.view-products header,
.view-services header {
  font-size: 36px;
  font-weight: bold;
  margin: 32px 0 32px;
}
@media only screen and (min-width: 768px) {
  .view-products header,
  .view-services header {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .view-products header,
  .view-services header {
    font-size: 48px;
  }
}

.webform-submission-contact-form {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 576px) {
  .webform-submission-contact-form > div {
    flex: 0 0 49%;
  }
}
.webform-submission-contact-form > div.form-item-company-name, .webform-submission-contact-form > div.ajax-wrapper, .webform-submission-contact-form > div.form-item-message {
  flex: 0 0 100%;
}
.webform-submission-contact-form > div.form-actions {
  flex: 0 0 100%;
}
.webform-submission-contact-form > div.form-actions .button {
  width: fit-content;
}
.webform-submission-contact-form #edit-preview {
  display: none;
}

.swiper-button-prev {
  left: 10px;
}
@media only screen and (min-width: 768px) {
  .swiper-button-prev {
    left: 50px;
  }
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-prev:before {
  content: "";
  width: 31px;
  height: 43px;
  display: block;
  background-image: url("../images/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  position: absolute;
  top: 0;
  left: 20px;
}
@media only screen and (min-width: 768px) {
  .swiper-button-prev:before {
    width: 37px;
    height: 51px;
    background-size: 28px;
  }
}
.swiper-button-next {
  right: 10px;
}
@media only screen and (min-width: 768px) {
  .swiper-button-next {
    right: 50px;
  }
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-next::before {
  content: "";
  width: 31px;
  height: 43px;
  display: block;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  position: absolute;
  top: 0;
  right: 20px;
}
@media only screen and (min-width: 768px) {
  .swiper-button-next::before {
    width: 37px;
    height: 51px;
    background-size: 28px;
  }
}
.swiper-button-disabled {
  display: none;
}

.swiper-container {
  margin: 0 auto;
}

.user-login-form {
  max-width: 400px;
  margin: 24px auto;
  padding: 24px 24px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.user-login-form input {
  width: 100%;
}
.user-login-form .form-actions {
  display: inline-block;
}

.status-messages {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
}

.message {
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.2);
  color: blue;
  padding: 8px 16px;
  margin: 16px auto 16px 8px;
  border-radius: 4px;
}
.message--status {
  border: 1px solid green;
  background-color: rgba(0, 128, 0, 0.2);
  color: green;
}
.message--error {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
}
.message ul {
  padding-left: 16px;
}
.message ul li {
  margin-bottom: 8px;
}

#block-ispace-primary-local-tasks {
  margin: 16px 0;
}
#block-ispace-primary-local-tasks > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 4px;
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
}
#block-ispace-primary-local-tasks > ul li a {
  border: 1px solid #454ca0;
  border-radius: 4px;
  padding: 4px 6px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  text-decoration: none;
}
#block-ispace-primary-local-tasks > ul li a:hover {
  background-color: #454ca0;
  color: white;
}

#block-ispace-breadcrumbs {
  max-width: 94%;
  margin: 0 auto;
  padding: 0 16px;
  padding: 32px 16px 0;
}
@media only screen and (min-width: 768px) {
  #block-ispace-breadcrumbs {
    padding: 24px 24px 0;
  }
}
@media only screen and (min-width: 1024px) {
  #block-ispace-breadcrumbs {
    padding: 40px 64px 0;
  }
}
#block-ispace-breadcrumbs nav ol li {
  display: inline-block;
  font-size: 14px;
}
#block-ispace-breadcrumbs nav ol li::after {
  content: ">";
  margin: 0 2px;
}
#block-ispace-breadcrumbs nav ol li:last-child::after {
  content: "";
}
#block-ispace-breadcrumbs nav ol li a {
  color: rgb(8, 8, 8);
  text-decoration: none;
  font-weight: 500;
}
#block-ispace-breadcrumbs nav ol li a:hover {
  text-decoration: underline;
}

body {
  scroll-behavior: smooth;
  font-family: "D-DIN", sans-serif;
  font-size: 16px;
  color: #1b1b1b;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

.page {
  padding-top: 48px;
}
@media only screen and (min-width: 1024px) {
  .page {
    padding-top: 94px;
  }
}