.footer {
  background-color: black;
  margin-top: 10px;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    height: 10px;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(126, 109, 215, 1) 0%,
      rgba(159, 109, 218, 1) 49%,
      rgba(168, 64, 216, 1) 100%
    );
  }
  &--top {
    border-bottom: 1px solid white;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: $unit * 2 0;

      @include breakpoint($mdBreakpoint) {
        flex-direction: row;
        padding: $unit * 2 $unit * 8;
      }
    }
  }
  &--bottom {
    @media only screen and (min-width: 1620px) {
      max-width: 80%;
      margin: 0 auto;
    }
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}

#block-ispace-logofooter {
  color: white;
  display: none;
  @include breakpoint($mdBreakpoint) {
    display: block;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: $unit * 4;
    @include breakpoint($mdBreakpoint) {
      flex-direction: row;
    }
  }
  h3,
  h4,
  h5 {
    color: white;
    margin-bottom: $unit * 3;
  }
}

#block-ispace-footerlinks {
  > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $unit * 2 0;
    li {
      a {
        padding: 0 $unit * 2;
        text-transform: uppercase;
        border-right: 1px solid rgba(255, 255, 255, 0.7);
        color: rgba(255, 255, 255, 0.7);
        font-weight: 600;
        display: inline-block;
        font-size: 12px;
      }
      &:last-child {
        a {
          border: none;
        }
      }
    }
  }
}

#block-ispace-footer {
  > ul {
    @include breakpoint($mdBreakpoint) {
      column-count: 2;
    }
    li {
      padding: $unit * 2 0;
      &:first-child {
        padding-top: 0;
      }
      a {
        font-weight: bold;
        color: white;
        padding: $unit;
        text-decoration: none;
      }

      ul {
        li {
          padding: 4px 0;
          a {
            font-weight: 400;
          }
        }
      }
    }
    > li {
      > a {
        padding-bottom: $unit * 2;
        display: block;
      }
    }
  }
}

#block-ispace-info {
  .body {
    color: white;
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: $unit;
    }
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
